.character {
    position: relative;
    grid-column: 6/11;
    grid-row: 1/2;
    
    &__container, &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
        border-right: 2px solid var(--light);
    }

    &__container {
        background-color: blueviolet;

        & .container__fighter {
            position: absolute;
            inset: 0;
            bottom: calc(25% + var(--xs-spacing) + 2px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: var(--xs-spacing) var(--xs-spacing) 0 0;

            @media (min-height: 600px) {
                padding: var(--md-spacing) var(--md-spacing) 0 0;
            }

            @media (min-height: 768px) {
                bottom: calc(25% + (var(--xlg-spacing) + var(--md-spacing)) + 2px);
            }

            // @media (min-height: 600px) {
            //     bottom: calc(25% + var(--xs-spacing) + var(--md-spacing) + 2px);
            // }
        }

        & .fighter__splashart {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 65%;
            background-position: center right;
            background-size: cover;
            background-repeat: no-repeat;
            transform: scaleX(-1);
            z-index: -1;
        }        

        & .fighter__detail {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            gap: var(--xxs-spacing);
            width: 100%;

            & .detail__name, .detail__id {
                max-width: 65%;
                text-align: right;
                color: var(--light);
                font-weight: normal;
                text-transform: uppercase;
            }

            & .detail__name {
                font-size: 2.2rem;

                @media (min-height: 600px) {
                    font-size: 3rem;
                }
            }

            & .detail__id {
                font-size: 1.4rem;

                @media (min-height: 600px) {
                    font-size: 2.2rem;
                }
            }
        }

        & .fighter__sprite {
            min-height: 50%;
            margin-right: var(--md-spacing);
            transform: scaleX(-1);

            img {
                height: 100%;
            }

            @media (min-height: 600px) {
                margin-right: var(--lg-spacing);
            }
        }
    }

    &__bg {
        left: -2px;
        background-color: var(--light);
    }

    &__stats {
        bottom: var(--xs-spacing);
        right: calc(0px - var(--xs-spacing));
        position: absolute;
        width: 95%;
        height: 25%;
        background-color: var(--light);
        clip-path: polygon(calc(35% / 4) 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        padding-left: calc(35%/4);

        @media(min-height: 768px) {
            bottom: calc( var(--xlg-spacing) + var(--md-spacing));
        }

        & .stats__passive {
            flex: 0;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: var(--xxs-spacing);

            @media (min-height: 600px) {
                padding: var(--xs-spacing);
            }

            @media (min-height: 768px) {
                flex: 1;
                flex-direction: column;
                justify-content: center;
            }

            h3 {
                font-size: 1.4rem;
                text-align: right;
                font-weight: normal;
                text-transform: uppercase;

                @media (min-height: 768px) {
                    font-size: 1.6rem;
                    width: 100%;
                    margin-bottom: var(--xxs-spacing);
                }
            }

            p {
                display: none;

                @media (min-height: 768px) {
                    display: flex;
                    font-size: 1.2rem;
                    text-align: right;
                }
            }
        }

        & .stats__line {
            width: 2px;
            min-width: 2px;
            height: 100%;
        }

        & .stats__characteristics {
            //flex: 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 2;
            justify-content: center;
            align-items: stretch;
            gap: var(--xxs-spacing);
            padding: var(--xxs-spacing);

            @media (min-height: 600px) {
                gap: var(--xs-spacing);
                padding: var(--xs-spacing);
            }

            @media (min-height: 768px) {
                flex: 2;
                gap: var(--xs-spacing);
                padding: var(--xs-spacing);
            }
        }

        // @media (min-height: 600px) {
        //     margin-bottom: var(--md-spacing);
        // }
    }
}