:root {
  --dark: #141519;
  --light: #ffffff;
  --gold: #edb116;
  --red: #ef3e3e;
  --green: #36bc64;
  --pink: #d748c9;
  --purple: #838cde;
  --blue: #0012ff;

  --fade: rgba(246, 246, 246, 0.1);

  --font-family: "Edition 12";

  --xxs-spacing: 0.8rem;
  --xs-spacing: 1.6rem;
  --md-spacing: 3.2rem;
  --lg-spacing: 6.4rem; 
}
