.navbar {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    padding: 1.6rem;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        padding: 0.8rem;
        background-color: var(--dark);
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0.8rem;
        background-color: var(--fade);
        color: var(--light);
        appearance: none;
        border: none;

        &.active {
            background: linear-gradient(to bottom right, #4936BC 0%, rgba(24, 1, 165, 0.76) 25%, rgba(24, 1, 165, 0.56) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #4936BC 0%, rgba(24, 1, 165, 0.76) 25%, rgba(24, 1, 165, 0.56) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #4936BC 0%, rgba(24, 1, 165, 0.76) 25%, rgba(24, 1, 165, 0.56) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #4936BC 0%, rgba(24, 1, 165, 0.76) 25%, rgba(24, 1, 165, 0.56) 50%) top right / 50% 50% no-repeat;
            box-shadow: 0px 0px 50px 10px rgba(0, 18, 255, 0.25);
        }

        img {
            aspect-ratio: 1/1;
            max-height: 30px;
        }
    }
}